<h1 class="animated fadeIn fast">SOBRE COMICS</h1>
<hr>

<p class="animated fadeIn">

  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque quasi eos, voluptates laboriosam 
  repellendus facilis assumenda, at, reiciendis temporibus aut adipisci rem maxime aperiam consequuntur 
  asperiores tempora! Voluptatibus, itaque perferendis.
  <br><br>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum reprehenderit earum totam neque quas 
  reiciendis magnam quisquam dolorum, nesciunt maiores ad tenetur, laboriosam fugiat nihil laudantium ab 
  repellat dicta temporibus?Provident minima fugiat nam, obcaecati reiciendis quo asperiores nulla laudantium 
  aboriosam, animi eaque dolorum consequatur quaerat! Omnis magnam similique mollitia nam aliquam officia 
  ducimus explicabo assumenda, laudantium et, architecto provident!
</p>